{
  "presets": [
    "react",
    "stage-0",
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": [
            ">1%"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["transform-runtime", "add-module-exports"]
}
