@font-face {
  font-family:GPCBook;
  src:url('https://static.nd.edu/fonts/gp-min/gpc-book.woff2');
  src:url('https://static.nd.edu/fonts/gp-min/gpc-book.woff2') format('woff2'),
      url('https://static.nd.edu/fonts/gp-min/gpc-book.woff') format('woff'),
      url('https://static.nd.edu/fonts/gp-min/gpc-book.ttf') format('truetype');
}

@font-face {
  font-family:GPCMed;
  src:url('https://static.nd.edu/fonts/gp-min/gpc-medium.woff2');
  src:url('https://static.nd.edu/fonts/gp-min/gpc-medium.woff2') format('woff2'),
      url('https://static.nd.edu/fonts/gp-min/gpc-medium.woff') format('woff'),
      url('https://static.nd.edu/fonts/gp-min/gpc-medium.ttf') format('truetype');
}

@font-face {
  font-family:GPMed;
  src:url('https://static.nd.edu/fonts/gp-min/gp-medium.woff2');
  src:url('https://static.nd.edu/fonts/gp-min/gp-medium.woff2') format('woff2'),
      url('https://static.nd.edu/fonts/gp-min/gp-medium.woff') format('woff'),
      url('https://static.nd.edu/fonts/gp-min/gp-medium.ttf') format('truetype');
}

@font-face {
  font-family:GPBook;
  src:url('https://static.nd.edu/fonts/gp-min/gp-book.woff2');
  src:url('https://static.nd.edu/fonts/gp-min/gp-book.woff2') format('woff2'),
      url('https://static.nd.edu/fonts/gp-min/gp-book.woff') format('woff'),
      url('https://static.nd.edu/fonts/gp-min/gp-book.ttf') format('truetype');
}
