<h1>Sections#show</h1>
<%= react_component('CollectionShow', collectionsUrl: @collections_url) %>
<%= react_component('ShowcaseShow', showcasesUrl: @showcases_url) %>
<%= react_component('SectionShow', sectionsUrl: @sections_url) %>

