<div class="sections-list">
  <div class="container">
    <%= react_component('ShowcaseShow', showcasesUrl: @showcases_url) %>
    <%= react_component('SectionsList', sectionsUrl: @showcases_url) %>
  </div>
</div>

