a,
a:hover,
a:focus {
  color: $blue;
}

.form-control,
.form-control:focus,
.form-control.focus {
  background-image: linear-gradient($blue, $blue), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.panel-heading .pull-right .btn {
  margin: -10px -10px -10px 10px !important;
  padding: 8px 10px;
}
