$break-medium: 768px;


@media screen and (max-width: $break-medium) {

  body.collection {
    .jumbotron {
      h1 {
        width: 80vw;
      }
    }
  }

  .brand-bar {
    font-size: 0.75em;

    a {
      float: left;
    }
  }

  .title-bar {
    max-height: none;
  }

  .modal.in {
    z-index: 6000;
  }

  .modal-body > div {
    height: 100% !important;
    overflow-y: auto !important;
  }

  .modal-content {
    height: auto;
  }

  .modal-dialog {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .well {
    display: none;
  }

  .collection-intro-page .well {
    display: block;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar-nav {

    li:first-of-type {
      display: none;
    }
  }

  #copy .modal-dialog,
  #info .modal-dialog {
    width: 100% !important;
  }

  .bee-homepage-banner {
    margin-bottom: 30px;
  }

  .section-description,
  .modal-collection-description .collection-description {
    font-size: 14px;
    line-height: 20px;
  }

  .collection-description {
    margin: 1em 1em 2em;
  }
}
