$break-small: 480px;



@media screen and (max-width: $break-small) {

  .navbar {
    min-height: 22px;
  }

  .brand-bar {
    font-size: 0.5em;
    height: 22px;
    padding-top: 5px;
    padding-bottom: 0;

    a {
      float: left;
    }
  }

  img.touch {
    height: 30px !important;

  }

  .banner {
    min-height: auto;

    .banner-inner {
      padding:10px 10px 60px;

      h1 {
        width: 50%;
        padding-top:50px;
      }

      h3 {
        bottom: 10px;
        right: 10px;
        width: 124px;
        padding-top: 35px;
      }
    }
  }

  .navbar .navbar-brand {
    font-size: 17px;
  }

  .featured-content-dropdown-button {
    height: 24px;
    width: 24px;
  }

  body.collection .container-fluid.content {
    top: 22px;
  }

  .exhibit-start-container {
    bottom: 5% !important;
  }

  #copy .modal-dialog, #info .modal-dialog {
    width: 100% !important;
  }

  .scroll {
    display: none;
  }

  .showcase-title-page {
    width: 98vw;
    height: 100%;

    * {
      height: auto;
    }

    .showcase-title-container {
      margin-top:5px !important;
      margin-bottom: 0;
    }

    h2 {
      font-size: 28px;
      max-height: 4em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .showcase-title-description-container {
      margin-top: 10px;

      .showcase-title-description {
        font-size: 14px;
        line-height: 1.4em;
      }
    }
  }

  .section-container-text {
    max-width: 98vw !important;

    h2 {
      font-size: 18px;
    }
  }

  .section-caption {
    font-size: 11px !important;
  }

  #footer {
    .hesburgh-logo {
      width: 70px;
    }

    .dec-logo {
      width: 70px;
    }
  }

  .item-detail {
    h2 {
      font-size: 18px;
    }

    button {
      padding: 8px 15px;
      top: 3.1em;

      span {
        display: none;
      }

    }
  }

  .details {
    top: 6em;
  }



  .navigator {
    display: none !important;
  }

  .os-toolbar {
    bottom: 10px !important;
    left: 20px !important;
    top: auto !important;
  }

  .half-circle-button {
    height: 60px;
    line-height: 60px;
    width: 60px;

    i {
      font-size: 20px;
    }
  }

  .items-list-page {

    #banner-wrapper {
      height: 80px;
    }
  }
}
