$white: #fff;
$gray20: #333333;
$gray30: #111111;
$startbutton: #165724;
$startbuttonhover: #45764D;

body.collection {

  .title-bar.large {
    display: none;
  }

  .container-fluid.content {
    position: absolute;
    top:50px;
    width: 100%;
  }

  .jumbotron {
    margin: 0;
    max-height: calc(80vh - 107px);
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;

    .collection-text {
      clear: none;
      float: none;
      text-align: center;
    }

    img {
      border: none;
      height: auto;
      max-height: none;
      width: 100%;
      z-index: -1;
    }

    h1 {
      border: solid $white;
      border-width: 1px 0;
      font-family: GPCMed;
      margin: 0 auto;
      margin-bottom: 1em;
      margin-top: 15vh;
      padding :8px;
      text-align: center;
      text-shadow: 2px 2px 3px $gray20;
      width: 40vw;
    }

    p {
      font-size: 22px;
      margin: 0 auto;
      text-align: center;
      text-shadow: 2px 2px 0 $gray20;
      width: 40vw;
    }

    .start {
      color: $white;
      font-size: 24px;
      padding: 8px 13px;
      border-radius: 10px;
      border: solid 1px $white;
      text-shadow: 2px 2px 3px $gray20;
      background-color: $startbutton;
      text-transform: uppercase;
      display: inline-block;
    }

    .start:hover {
      background-color: $startbuttonhover;
    }
  }

  .well {
    border-radius: 0;
  }

  .showcases-list {
    padding-bottom: 4em;
  }
}
