$white: #fff;
$gray20: #333333;
$gray30: #111111;
$startbutton: #165724;
$startbuttonhover: #45764D;
$startbutton: rgba(0, 0, 0, 0.8);
$startbuttonhover: rgba(69, 118, 77, 0.9);

body.collection {

  .title-bar.large {
    display: none;
  }

  .container-fluid.content {
    position: absolute;
    top:50px;
    width: 100%;
  }

  .jumbotron {
    margin: 0;
    max-height: calc(80vh - 107px);
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    box-shadow:0 1px 6px 0 rgba(0, 0, 0, 0.75);

    .collection-text {
      clear: none;
      float: none;
      text-align: center;
    }

    img {
      border: none;
      height: auto;
      max-height: none;
      width: 100%;
      z-index: -1;
    }

    h1 {
      border: solid $white;
      border-width: 1px 0;
      font-family: GPCMed;
      margin: 0 auto;
      margin-bottom: 1em;
      margin-top: 15vh;
      padding :8px;
      text-align: center;
      text-shadow: 2px 2px 3px $gray20;
      width: 40vw;
    }

    p {
      font-size: 22px;
      margin: 0 auto;
      text-align: center;
      text-shadow: 2px 2px 0 $gray20;
      width: 40vw;
    }
  }

  .collection-intro {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.75);
    margin: 2em;
    padding: 1em;

    p {
      font-size: 24px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    p:last-child {
      margin-bottom:0;
    }
  }

  .well {
    border-radius: 0;
  }

  .showcases-list {
    padding-bottom: 4em;
  }
}

.start,
.continue {
  background-color: $startbutton;
  border: solid 2px $white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px $gray20;
  color: $white;
  display: inline-block;
  font-size: 24px;
  line-height: 1em;
  padding: 8px 33px;
  text-shadow: 2px 2px 3px $gray20;
  text-transform: uppercase;

  &.btn-success:not(.btn-link):not(.btn-flat) {
    background-color: $startbutton;
  }
}

.start:hover,
.continue:hover {
  background-color: $startbuttonhover;
  border-color: $white;

  &.btn-success:not(.btn-link):not(.btn-flat) {
    background-color: $startbuttonhover;
  }
}
