$circleSize: 100px;
$circleOffset: $circleSize / 2 * -1;
$iconSize: 40px;
$iconTop: ($circleSize - $iconSize) / 2;
$iconOffset: ($circleSize/2) - $iconSize;

.half-circle-button {
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  width: $circleSize;
  height: $circleSize;
  background: rgba(255, 255, 255, 0.4);
  color: black;
  text-align: center;
  line-height: $circleSize;
  position: absolute;
  top: 300px;
  z-index: 100;

  &:hover, &:active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
  }

  i {
    position: absolute;
    top: $iconTop;
    font-size: $iconSize;
  }
}

.next-button {
  right: $circleOffset;

  i {
    left: $iconOffset;
  }
}

.prev-button {
  left: $circleOffset;

  i {
    right: $iconOffset;
  }
}

.modal-body {
  overflow: hidden;
}
