<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
